     *{
    box-sizing: border-box;
overflow: auto;  
 
}
.form{
    background-image: url("apni file/form2.jpg");
    background-repeat: no-repeat;
    background-size: 2600px;

}
.body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 15px;
    padding: 15px;
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 5cm;
    margin-right: 5cm;
    
   

                                                                     
}
.container{
    background-color:rgba(238, 234, 249, 0.944);
    padding: 5px 15px 15px 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
select,
textarea{
    width: 100%;
    padding: 26px;
    border: 1px solid grey;
    border-radius: 8px;
    text-shadow: 15px;
    box-shadow: 35px solid gray;
    --ntp-realbox-shadow:0 1px 6px 0 grey;
}
fieldset{
    background-color:white;
    border: 1px solid grey;
    border-radius: 2px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#heading{
    text-align: center;
    background-color: rgba(75, 75, 192, 0.768);
    width: 100%;
    padding:15px;
    margin:0%;
    border-radius: 5px;
    border: 1px solid grey;
}
input[type="submit"]{
    background-color: aquamarine;
    color: rgba(57, 15, 142, 0.906);
    border: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    cursor:pointer;
    width: 100%;
    font-weight: bold;
    font-size: large;
}
input[type="submit"]:hover{
background-color: aqua;
}
input[type="reset"]{
    background-color: rgb(86, 86, 159);
    color: rgba(57, 15, 142, 0.906);
    border: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    cursor:pointer;
    width: 100%;
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
}
input[type="reset"]:hover{
    background-color: rgba(19, 19, 207, 0.529);
}