.register{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 35%;
    margin-top: 4%;
    
}
.input{
    width: 50%;
    text-align: center;
}
.registertitle{
    text-align: center;
    margin-top: 10px;
    color:#00aaffd9 ;
}
.gologin{
    color:#00aaffe9;
    text-align: center; 
    margin-top: 10px;
}
.submitregister{
    text-align: center;
    margin-top: 20px;
}